/* Space out content a bit */

@media screen and (max-width: 640px) {
	.small_screen {
	   display: inline;
	}
	.large_screen {
       display: none;
    }
}

@media screen and (min-width: 641px) {
    .small_screen {
       display: none;
    }
    .large_screen {
       display: inline;
    }
}

.metro .listview-outlook .list .list-content {
	padding-left: 5px;
}

@media only screen and (max-width: 800px) {
    .navigation-bar-content .element, .navigation-bar .element, .navbar .element {
        float: left;
        display: inline;
    }
}

.metro .tile.half.tile-DE {
    background-color: #1ba1e2;
}

.metro .tile.half.tile-PR {
	background-color: #a4c400;
}

.metro .tile.half.tile-GA {
	background-color: #f0a30a;
}