<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
<link rel="stylesheet" href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
<link rel="stylesheet" href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />
<link rel="stylesheet" href="/styles/main.css">

<div class="scrollable">
 <div class="scrollable-content section">

    <div bs-panel title="Requisição de Aço">

   <form action="" id="request_form">

    </br>

    <div class="btn-group justified nav-tabs">

        <a class="btn btn-default "
           href="#TabRolo"
           toggle="on"
           active-class="active">Rolo
        </a>

        <a class="btn btn-default"
           href="#TabChapa"
           toggle="on"
           active-class="active">Chapa
        </a>

    </div>

    <div class="tab-content">

        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            default="active" 
            id="TabRolo" 
            exclusion-group="FormatTabs">

        </div>

        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            id="TabChapa"
            exclusion-group="FormatTabs">

    </div>

    </br>

    <div class="btn-group justified nav-tabs">

        <a class="btn btn-default "
           href="#TabFQ"
           toggle="on"
           active-class="active">Fina Quente
        </a>

        <a class="btn btn-default"
           href="#TabFF"
           toggle="on"
           active-class="active">Fina Frio
        </a>

    </div>

    <div class="tab-content">

        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            default="active" 
            id="TabFQ" 
            exclusion-group="LaminationTabs">

            </br>

            <div class="btn-group justified nav-tabs">

                <a class="btn btn-default"
                   href="#TabPR"
                   toggle="on"
                   active-class="active">Chapa Preta
                </a>

                <a class="btn btn-default"
                   href="#TabDE"
                   toggle="on"
                   active-class="active">Decapado
                </a>

            </div>

            <div class="tab-content">

                <div class="tab-pane" 
                    toggleable 
                    active-class="active" 
                    default="active" 
                    id="TabPR" 
                    exclusion-group="TreatmentTabs">


                </div>

                <div class="tab-pane" 
                    toggleable 
                    active-class="active" 
                    id="TabDE"
                    exclusion-group="TreatmentTabs">

                  
                </div>

              </div>
        </div>

        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            id="TabFF"
            exclusion-group="LaminationTabs">

            <switch 
            ng-model="request.treatment" 
            label="Galvanizado" 
            bs-form-control 
            label-class="col-xs-6 col-sm-3 col-lg-3" 
            class="col-xs-6 col-sm-9 col-lg-9" />
            
    </div>

       <select
        bs-form-control
        
        type="number" 
        ng-model="invoice.customer"
        label="Espessura (mm)" 
        label-class="col-xs-6 col-sm-3 col-lg-3" 
        class="col-xs-6 col-sm-9 col-lg-9"
        placeholder="Espessura"
        ng-model="modal.item.material.thickness"
        ng-options="t.value as t.desc for t in modal.thicknesses" 
        ng-change="changedThickness()"
       />

       <select
        bs-form-control
        
        type="number" 
        ng-model="request.material.width"
        label="Largura (mm)" 
        label-class="col-xs-6 col-sm-3 col-lg-3" 
        class="col-xs-6 col-sm-9 col-lg-9"
        placeholder="Largura mm"
        ng-class="{'form-group' : true, 'has-error' : request_form.otherWidth.$dirty && request_form.otherWidth.$invalid}"
        ng-options="w for w in modal.widths" 
        ng-change="changedWidth()"
       />

       <select
        bs-form-control
        
        ng-model="request.material.length"
        label="Comprimento (mm)" 
        label-class="col-xs-6 col-sm-3 col-lg-3" 
        class="col-xs-6 col-sm-9 col-lg-9"
        placeholder="Comprimento mm"
        ng-class="{'form-group' : true, 'has-error' : request_form.otherLength.$dirty && request_form.otherLength.$invalid}"
        ng-options="l for l in modal.lengths"
        ng-change="changedLength()" 
        ng-disabled="modal.item.cut === 'B'"
       />

       <input
        bs-form-control
        
        type="number" 
        min='100' max='30000' integer required
        ng-model="request.weight"
        label="Peso (Kg)" 
        label-class="col-xs-6 col-sm-3 col-lg-3" 
        class="col-xs-6 col-sm-9 col-lg-9"
        ng-class="{'form-group' : true, 'has-error' : request_form.weight.$dirty && request_form.weight.$invalid}"
        placeholder="Peso (Kg)"
       />

        <input
        bs-form-control
        type="date" 
        ng-model="request.arrival"
        label="Entrega"
        label-class="col-xs-6 col-sm-3 col-lg-3" 
        class="col-xs-6 col-sm-9 col-lg-9"
        
        />

    </form>
  </div>
  </div>
</div>

