<div class="listview-outlook" data-role="listview">
	<div class="list-group">
		<a href="" class="group-title">05/10/2014</a>
		<div class="group-content">
			<a href="#" class="list" ng-repeat="item in request.items">
				<div class="list-content">
					<div class="tile half tile-{{item.material.treatment}}">
						<h2 class="text-center fg-white">{{item.material.treatment}}</h2>
					</div>
					<div class="data">
						<span class="list-title"><span
							ng-show="item.material.format">Chapa</span><span
							ng-show="!item.material.format">Rolo</span><span
							ng-show="item.material.lamination == 'FF'">&nbsp;Fina Frio</span><span
							ng-show="item.material.lamination == 'FQ'">&nbsp;Fina
								Quente</span></span> <span class="list-remark"><div
								class="large_screen">
								<b>Espessura:</b>
							</div>&nbsp;{{item.material.thickness|number:2}}mm
							<div class="large_screen">
								<b>Largura:</b>
							</div>&nbsp;{{item.material.width|number:2}}mm <i
							class="icon-tab-2 small_screen"></i>
							<div class="large_screen">
								<b>Comprimento:</b>
							</div>&nbsp;{{item.material.length|number:2}}mm </span>{{item.weight}}Kg
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="list-group collapsed">
		<a href="" class="group-title">07/10/2014</a>
		<div class="group-content">
			<a href="#" class="list">
				<div class="list-content">...</div>
			</a>
		</div>
	</div>
</div>

<nav class="navbar fixed-top">

    <nav class="navbar-content ">

        <div class="element ">
            <span class="icon-grid-view"></span><span class="no-phone no-tablet-portrait">&nbsp;Requisi&ccedil;&atilde;o&nbsp;de&nbsp;Compra&nbsp;de&nbsp;A&ccedil;o</span>
        </div>
        <div class="element">
            <span class="icon-plus-2"></span>
        </div>
        <div class="element">
            <span class="icon-checkmark"></span>
        </div>
        <div class="element">
            <span class="icon-printer"></span>
        </div>
        <div class="element">
            <span class="icon-spin"></span>
        </div>

    </nav>
</nav>



